.listBody{
width: 100%;
}
.header{
    background-color: #000;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky; top: 0;
    box-shadow: 0 10px 6px -6px #000;
    .icon{
        width: 10%;
        .backIcon{
            max-width: 15px;
        }
    }
    .text{
        width: 80%;
        .titleTxt{
            color: #fff;
            font-size: 20px;
            font-weight: 500;
        }
    }
    .search{
        width: 10%;
        display: flex;
        justify-content: end;
        .searchIcon{
            width: 100%;
            max-width: 18px;
        }
    }
}
.content{
    display: flex;
    flex-direction: row;
    padding: 2.5%;

    .card{
        margin: 2.5%;
        height: 180px;
        width: 100%;
        .imgDiv{
            width: 100%;
            height: 85%;
            .image{
                height: 100%;
                width: 100%;
            }
        }
        .titleDiv{
            width: 100%;
            height: 15%;
            display: flex;
            align-items: center;
            .title{
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                padding: 0;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 770px) and (min-width:426px) {
    .content{
        .card{
            height: 500px;
        }
    }
}
@media screen and (max-width: 425px) and (min-width:376px) {
    .content{
        .card{
            height: 180px;
        }
    }
}
@media screen and (min-width: 320px) {
    .content{
        .card{
            height: 160px;
            .titleDiv{
                .title{
                    font-size: 13px;
                }
            }
        }
    }
}